* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

header {
  display: flex;
  height: 100px;
  background-color: gray;
}

header {
  justify-content: space-around;
  align-items: center;
}

.nav_links ul, a, button {
  display: inline-block;
  font-size: 1em;
}

.nav_links li {
  display: inline-block;
  padding: 0px 1.5em;
}

a {
  transition: all 0.3s ease 0s;
}

section.main {
  display: flex;
  height: 100px;
  flex-grow: 1;
}

footer {
  display: flex;
  height: 100px;
  background-color: gray;
}

footer {
  justify-content: space-around;
  align-items: center;
}


.footer_links ul li {
  display: inline-block;
  padding: 0px 30px;
}

.footer_links ul li a {
  transition: all 0.3s ease 0s;
}

.about_footer {
  border-right: .1em solid white;
}